.icon-add{
    cursor: pointer;
}

.todoitem-leave {
    opacity: 1;
    
  }

  .todoitem-appear{
    opacity: 0.01;
  }

  .todoitem-appear.todoitem-appear-active{
      opacity: 1;
      transition: opacity .5s ease-in;
  }
  
  .todoitem-enter{
    transform: scale(.3);
    transition: all 300ms ease-in;
  }
  
  .todoitem-leave.todoitem-leave-active {
  
    transform: scaleX(.1) scaleY(.1);
    transition: all 300ms ease-in;
    background-color: gray;
  }